@import "./colors";

html,
body {
  height: 100vh;
  font-size: 30px;
}

body {
  margin: 0;
  padding: 0;
  color: $color-fg-text;
  background-color: $color-bg;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input {
  text-transform: lowercase;
}

div,
input {
  box-sizing: border-box;
}

input {
  border: 0 none;
  color: $color-bg;
  background-color: $color-fg-text;
}

a {
  color: $color-fg-main;
  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    color: darken($color-fg-main, 5);
  }
}
