$color-fg-text: #cfcfcf;
$color-fg-main: #ff68d7;
$color-fg-complement-1: #68b4ff;
$color-fg-complement-2: #c868ff;
$color-bg: #3f3f3f;

$color-scheme: (
        $color-fg-complement-1,
        $color-fg-main,
        $color-fg-complement-2,
  //#faffbb,
  //#8cde66,
);
