$color-fg-text: #cfcfcf;
$color-fg-main: #68b4ff;
$color-fg-complement-1: #ff68d7;
$color-fg-complement-2: #c868ff;
//$color-fg-main: #6ab2d8;
//$color-fg-complement-1: #e96bb5;
//$color-fg-complement-2: #ad6ddc;
$color-bg: #3f3f3f;
